.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
    background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%);
    background-position: center;
    background-size: cover;
    color: white;
}

.wallet {
    height: 98%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
    margin-top: 1%;

}

.figures {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;

}

.figures div:nth-child(1) {
    display: flex;
    width: 40%;
    height: 80%;
    margin-top: 1%;
    justify-content: center;

    font-size: 30px;
}

.figures div:nth-child(2) {
    display: flex;
    font-size: 40px;
    width: 30%;
    height: 80%;
    margin: 1%;

    justify-content: center;
}

.figures div:nth-child(2) i {
    max-height: 45px;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.figures div:nth-child(2) i:hover {
    color: yellowgreen;
}

.cards {
    width: 96%;
    height: 98%;
    background-color: rgba(255, 255, 255, 0.725);
    display: grid;
    grid-template-rows: 10% 90%;
    color: black;
    margin-left: 2%;

    margin-bottom: 2%;


}

.adder {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(175, 175, 175);
    font-size: 20px;
    padding-left: 25px;
    display: flex;
    align-items: center;

}

.adder i {
    margin-left: 10px;
    font-size: 16px;
    margin-top: 3px;
    cursor: pointer;
    transition: font-size 0.3s ease;
    transition: color 0.3s ease;
    color: black;
}

.adder i:hover {
    font-size: 20px;

    color: green !important;
}

.card {
    height: 100%;
    width: 100%;
    overflow-y: auto;



}