.container {
    width: 100%;
    height: 15%;
    display: grid;

    grid-template-columns: 1fr 3fr 3fr 2fr 2fr 2fr 2fr 3fr 1fr;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgb(197, 197, 197);
    color: black
}

.container div:nth-child(1) {
    justify-self: center;
}

.container div:nth-child(n+3):nth-child(-n+7) {
    justify-self: right;
}

.container div:nth-child(8) {
    justify-content: center;

    width: 100%;
    height: 100%;
}


.container div {
    display: flex;
    align-items: center;

    gap: 5px;
}



.tradeBtn {
    position: relative;
    display: flex;
    width: max-content;
    height: 30%;
    padding: 4px 10px;
    border-radius: 7px;
    justify-content: center;
    border: 1px solid rgb(61, 106, 255);
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    color: black;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}


.tradeBtn:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.tradeBtn:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.tradeBtn::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.tradeBtn:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.nameCoin {
    width: 100%;
    height: 100%;
}

.nameCoin img {
    height: 35px;
    margin-right: 10px;


}

.name {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.name div:nth-child(2) {
    align-self: flex-start;
}

.graph {
    width: 100%;
    height: 100%;
    max-width: 250px;


}