.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  
    justify-content: center;
}

.log {
    font-size: 40px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.formHolder {
    width: 30%;
    height: 50%;
    display: grid;
    background: linear-gradient(45deg, red, black 10% 40%, rgb(255, 0, 221), rgb(0, 242, 255) 60% 90%, red);
    grid-template-rows: 25% 75%;
    backdrop-filter: blur(10px);
    color: white;
    padding-bottom: 30px;



}



.input {
    display: grid;
    justify-items: center;
    gap: 5px;
}

.input input {
    width: 80%;
    height: 45px;
    background: rgba(131, 131, 131, 0.673);
    border: none;
    border-bottom: solid 2px rgb(255, 255, 255);
    background-color: transparent;
    color: white;


}

.input input::placeholder {
    color: white;
}

.input input:focus {
    outline: none;
}

.input button {
    width: 27%;
    height: 40px;
}

.signup {
    display: grid;
    justify-items: center;
    align-items: center;


}

.link {
    color: white;
    font-size: 13px;

}

.link:hover {
    cursor: pointer
}

.container button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #ff0000, #7569ff, #ff0000);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
}

.container button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.container button .link {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.container button:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.container button:hover .link {
    transform: translateX(7px);
    cursor: pointer;
}